/*
Your standard form button. Typically you'll want to use either
a `<div>`, `<button>` or `<a>`, element:

​```html
<button type="button" class="usa-button">Button</button>
```

:hover    - Highlights when hovering.
:disabled - Dims the button when disabled.
--primary  - Indicates button is the primary action.
--outline  - Indicates button is the secondary action.
--icon-only - The button has only 1 icon
--big  - A bigger button

Index
- Button

*/

/*-------------------------------------------*\
Button
\*-------------------------------------------*/
button {
  border: none;
  background-color: transparent;
}

$button-stroke: inset 0 0 0 2px;

// Buttons

.button {
  background-color: $primary;
  border: 0;
  border-radius: 8px;
  min-width: 7.375rem;
  padding: 1rem 2rem;
  width: max-content;
  font-size: 1rem;
  line-height: 20px;
  font-weight: 600;
  text-decoration: none;
  color: $white;
  box-sizing: border-box;
  text-align: center;

  // BIG
  &--big {
    @include desktop-up {
      padding: 1.5rem 2rem;
      font-size: 1.5rem;
    }
  }

  // Default
  // &:hover {
  //   background-color: $primary-dark;
  //   border-bottom: 0;
  //   text-decoration: none;
  //   color: $white;
  // }

  // &:active {
  //   background-color: $primary-darker;
  // }

  // &:not([disabled]):focus {
  //   outline: 0.25rem solid $blue-vivid-40v;
  //   outline-offset: 0.25rem;
  // }

  // &:disabled,
  // &[aria-disabled="true"] {
  //   color: $disabled-dark;

  //   background-color: $disabled-lighter;
  //   cursor: not-allowed;
  //   opacity: 1;
  // }
}

.button--outline {
  background-color: transparent;
  padding-inline: 1.25rem;
  font-weight: 500;
  color: $primary;
  border: 1px solid $primary;
  text-align: center;
  &:visited {
    color: $primary;
  }

  // &:hover,
  // &.button--hover {
  //   background-color: transparent;
  //   box-shadow: $button-stroke $primary-dark;
  //   color: $primary-dark;
  // }

  // &:active,
  // &.button--active {
  //   background-color: transparent;
  //   box-shadow: $button-stroke $primary-darker;
  //   color: $primary-darker;
  // }
}

.button--secondary {
  background-color: $secondary;
  // &:hover,
  // &.button--hover {
  //   background-color: $secondary-dark;
  // }

  // &:active,
  // &.button--active {
  //   background-color: $secondary-darker;
  // }
}

.button--tertiary {
  background-color: #4318ff;
  min-width: 13rem;
  border-radius: 30px;
  padding: 0.875rem;
}

// Cannot use disabled mixin due to transparent causing build errors with color grade check.
// .button--outline:disabled,
// .button--outline[aria-disabled="true"],
// .button--outline-inverse:disabled,
// .button--outline-inverse[aria-disabled="true"] {
//   &,
//   &:hover,
//   &:active,
//   &:focus {
//     background-color: transparent;
//     color: $disabled;
//   }
// }

// .button--outline:disabled,
// .button--outline[aria-disabled="true"] {
//   box-shadow: $button-stroke $disabled-lighter;

//   &.button--inverse {
//     box-shadow: $button-stroke $disabled-light;
//     color: $disabled-light;
//   }
// }

.button--white {
  background-color: transparent;
  color: $white;
  border: 1px solid $white;
}
