form {
  padding: 1.5rem;
  background-color: $white;
  border-radius: 16px;
  box-shadow: 0px 4px 24px 0px #0000001a;

  display: grid;
  grid-template-areas:
    "name"
    "mobile-number"
    "email"
    "crn"
    "message"
    "caryear"
    "carcolor"
    "damage"
    "service"
    "bookdate"
    "booktime"
    "picture"
    "submit";

  column-gap: 2rem;
  @include desktop-up {
    grid-template-areas:
      "name crn"
      "mobile-number email"
      "caryear carcolor"
      "damage service"
      "bookdate booktime"
      "message message"
      "picture picture"
      "submit .";
  }
  .name {
    grid-area: name;
  }
  .car-registration-number {
    grid-area: crn;
  }
  .mobile-number {
    grid-area: mobile-number;
  }
  .email {
    grid-area: email;
  }
  .car-year {
    grid-area: caryear;
  }
  .car-color {
    grid-area: carcolor;
  }
  .damage-type {
    grid-area: damage;
  }
  .service-type {
    grid-area: service;
  }
  .book-date {
    grid-area: bookdate;
  }
  .book-time {
    grid-area: booktime;
  }

  .message {
    grid-area: message;
  }
  .picture {
    grid-area: picture;
  }

  .submit {
    grid-area: submit;
  }
}
