.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 5%;
  @include desktop-up {
    padding: 3.25rem 5% 0;
  }
}
.menu__mobile {
  @include desktop-up {
    display: none;
  }
}
.nav-link__desktop {
  display: none;

  @include desktop-up {
    display: flex;
    column-gap: 1.5rem;
  }
}
