.img-behind-text {
  &__wrapper {
    position: relative;
    overflow: hidden;
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    &--right {
      left: unset;
      right: 0;
    }
  }
}

.hero {
  &__section {
    background: url(../images/hero-banner.png) no-repeat;
    background-size: auto 42rem;
    background-position: top;
    border-image-source: linear-gradient(
      270deg,
      rgba(11, 35, 83, 0) 33.62%,
      #0b2353 137.84%
    );
    border-image-slice: fill 1;
    @include desktop-up {
      background-size: cover;
      border-image-source: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) 0%,
        #0b2353 100%
      );
    }
  }

  &__header {
    @include desktop-up {
      width: 90%;
      margin: 0;
    }
  }

  &__bottom {
    background-color: $secondary;
    @include desktop-up {
      background: #0b235399;
    }
  }

  &__text {
    display: grid;

    @include desktop-up {
      grid-template-columns: 0.75fr 1fr;
      padding: 2.625rem 5%;
    }
  }

  &__buttons {
    display: grid;
    row-gap: 1rem;

    @include mobile {
      width: max-content;
      .button--white {
        width: 100%;
      }
    }

    @include desktop-up {
      display: flex;
      column-gap: 1rem;
    }
  }
}

.cta-home {
  &__section {
    position: relative;
    height: 390px;
    background: linear-gradient(
      180deg,
      rgba(11, 35, 83, 0) 35.48%,
      #0b2353 69.13%
    );

    @include desktop-up {
      height: 400px;
      background: linear-gradient(
        90deg,
        rgba(11, 35, 83, 0) 19.31%,
        #0b2353 55.18%
      );
    }
  }

  &__body {
    position: relative;
    z-index: 1;

    display: grid;
    row-gap: 2rem;

    height: 100%;
    @include mobile {
      align-content: end;
    }

    @include desktop-up {
      grid-template-columns: 1.75fr 1fr;
      align-items: center;
    }
  }
}

.why-choose-us {
  &__img {
    position: relative;
    img:nth-of-type(2) {
      position: absolute;
      left: -100px;
      bottom: 100px;

      height: 200px;
      width: 200px;
      box-shadow: 0px 4px 16px 0px #00000040;

      @include desktop-up {
        left: -70px;
      }

      @include monitor-up {
        left: -150px;
        bottom: -40px;

        height: 300px;
        width: 300px;
      }
    }
  }
}

.special-offers {
  &__section {
    height: 385px;
    background: linear-gradient(
      180deg,
      rgba(255, 109, 44, 0) 35.48%,
      #ff6d2c 69.13%
    );

    @include desktop-up {
      background: linear-gradient(
        90deg,
        #ff6d2c 43.27%,
        rgba(255, 109, 44, 0) 80%
      );
    }

    .img-behind-text__item {
      @include mobile {
        object-position: bottom;
      }
      @include desktop-up {
        width: 80%;
      }
    }
  }

  &__body {
    @include mobile {
      justify-items: center;
      align-content: end;
      height: 100%;
    }
  }
}

.testimonials {
  &__section {
    position: relative;
  }

  &__list__wrapper {
    @include desktop-up {
      margin-left: 5%;
    }
  }

  &__list {
    padding: 0 0 2rem 1rem;

    @include desktop-up {
      background-color: $primary;
      padding: 4rem 0 2.625rem 3rem;
      border-top-left-radius: 2rem;
    }
  }
  &__item {
    display: grid;
    row-gap: 1rem;

    box-sizing: border-box;
    height: 100%;
    padding: 1rem;
    background-color: $base-20;
    border-radius: 16px;

    @include desktop-up {
      align-content: space-between;

      padding: 2rem 2.875rem;
      height: 300px;
    }
  }
}

.coverage {
  &__section {
    @include desktop-up {
      display: grid;
      row-gap: 3rem;

      padding: 5rem 5%;
    }
  }

  &__header {
    @include mobile {
      padding: 2rem 5%;
    }
  }

  &__body {
    display: grid;
    row-gap: 1.5rem;
  }

  &__text {
    @include mobile {
      padding: 0 5% 2rem;
    }
  }
}

.text-with-curved-border {
  @include desktop-up {
    padding-left: 2.625rem;
  }
}
.text-with-curved__wrapper {
  display: grid;
  align-items: center;
  @include desktop-up {
    column-gap: 1.5rem;
    grid-template-columns: 1fr 0.75fr;
  }
}
.splide {
  &__arrows {
    display: flex;
    column-gap: 1rem;

    padding: 1.5rem 5% 0 0;

    @include desktop-up {
      justify-content: right;
    }
  }
  &__arrow {
    position: unset !important;
    transform: unset !important;

    background: transparent !important;
    height: unset !important;
    opacity: 1 !important;
  }
}

.bg-decorative {
  display: none;

  @include desktop-up {
    position: absolute;
    right: 0;
    top: 0;

    display: block;

    width: 48%;
  }

  @include monitor-up {
    margin-top: -20px;
    width: unset;
  }
}
