.bg-primary {
  background-color: $primary;
}
.bg-base-lightest {
  background-color: $base-lightest;
}

.bg-sm-white {
  @include mobile {
    background-color: $white;
  }
}

.bg-md-primary {
  @include desktop-up {
    background-color: $primary;
  }
}
.bg-secondary {
  background-color: $secondary;
}

.linear-blue {
  background: linear-gradient(
    270deg,
    rgba(11, 35, 83, 0) 33.62%,
    #0b2353 137.84%
  );
}

.linear-black {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
