.usa-label {
  display: block;

  line-height: 1.3;
}

textarea {
  resize: none;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="search"],
input[type="datetime-local"],
select {
  display: block;

  // border: 1px solid $base-dark !important;
  border-radius: 0;
  // color: $base-darkest;
  height: 2.5rem !important;
  margin-top: 0.5rem;
  padding: 0.5rem !important;
  width: 100%;
  box-sizing: border-box;

  overflow: visible;

  // &::placeholder {
  //   color: $gray-50;
  // }
}
.contact__form {
  .web-input {
    height: 2.75rem !important;
  }
  .web-input,
  .web-textarea {
    border-radius: 8px;
  }
}
textarea {
  padding: 0.5rem !important;
}
// .usa-textarea {
//   height: 10rem;
// }

// .usa-hint {
//   color: $base;
// }

// button:not([disabled]):focus,
// input:not([disabled]):focus,
// select:not([disabled]):focus,
// .usa-focus,
// .select2-container--bootstrap-5.select2-container--focus .select2-selection
//  {
//   outline: .25rem solid $blue-vivid-40v;
//   outline-offset: 0;
// }

// select:not([disabled]):focus, .select2-container--bootstrap-5.select2-container--open .select2-selection {
//   border-color: none !important;
//   box-shadow: none !important;
//   outline: .25rem solid $blue-vivid-40v;
// }

// .usa-error-message {
//   display: block;

//   padding-block: .25rem;

//   color: $error-dark;
//   font-weight: 700;
// }

// .usa-input--error, .usa-input--success {
//   border-width: .25rem;
//   border-color: $error-dark;
//   border-style: solid;
//   border: .25rem solid $error-dark;
//   padding-block: calc(.5rem - .25rem);
// }

// .usa-input--success {
//   border-color: $success;
// }

// .usa-input:disabled,
// .usa-input[aria-disabled=true],
// .usa-textarea:disabled,
// .usa-textarea[aria-disabled=true] {
//   background-color: $disabled-lighter;

//   -webkit-text-fill-color: $disabled-dark;
//   color: $disabled-dark;
//   cursor: not-allowed;
//   opacity: 1;
// }

// .usa-checkbox__input:disabled+[class*=__label] {
//   color: $disabled-dark;
//   cursor: not-allowed;

//   &::before {
//     background-color: $white;
//     box-shadow: 0 0 0 2px $gray-50;
//   }
// }

// .usa-form__note, .usa-show-password {
//   background-color: transparent;
//   margin-top: .25rem;

//   text-decoration: underline;
//   color: $primary;

//   cursor: pointer;
// }

select {
  appearance: none;
  background: url("../images/chevron-down.svg") no-repeat right;
  background-position: calc(100% - 0.5rem);

  cursor: pointer;

  height: 40px;
  width: 100%;
  background-color: $white;
  border-radius: 6px;
  min-width: 62px;
  @include font-size(0.875rem); //14px
  padding: 0 12px;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; //If you don't want to see the increment / decrement button
  margin: 0;
}

// Slowly delete this code and their usage on other page
.input-with-helper {
  position: relative;
  &__left {
    input {
      padding: 10px 12px 10px calc(12px + 24px + 8px);
    }
  }

  &__right {
    input {
      padding: 10px calc(12px + 24px + 8px) 10px 12px;
    }
  }

  .helper__left,
  .helper__right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
  }

  .helper__left {
    left: 12px;
  }

  .helper__right {
    right: 12px;

    display: flex;
    column-gap: 8px;
    align-items: center;
    justify-content: center;

    // color: $grey-700;

    * {
      font-size: 1rem;
    }
  }
}

input.form-control {
  outline: none;
}

.inputfile {
  @include square(0.1px, $radius: 0);
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.hide-input {
  @include hide-input();
}

// .usa-radio__label, .usa-checkbox__label {
//   position: relative;

//   padding-left: 2rem;
//   cursor: pointer;

//   &::before {
//     content: " ";
//     position: absolute;
//     left: 0;

//     background: $white;
//     box-shadow: 0 0 0 2px $base-darkest;
//   }
// }
// .usa-radio__label {
//   display: flex;
//   align-items: center;
// }
// .usa-radio__label::before {
//   @include square(1.25rem, $radius: 99px);
// }
// .usa-checkbox__label::before {
//   @include square(1.25rem, $radius: 2px);
// }
// // Radio
// .usa-radio__input {
//   @include hide-input();

//   &:checked+[class*=__label]::before {
//     box-shadow: 0 0 0 2px $primary, inset 0 0 0 2px $white;
//     background-color: $primary;
//   }

//   &:disabled+[class*=__label],
//   &[aria-disabled=true]+[class*=__label] {
//     color: $disabled;
//     cursor: not-allowed;
//   }
// }

// // Checkbox
// .usa-checkbox__input {
//   @include hide-input();

//   &:checked+[class*=__label]::before,
//   &:checked:disabled+[class*=__label]::before,
//   &:checked[aria-disabled=true]+[class*=__label]::before {
//     background-position: center center;
//     background-size: .75rem auto;
//     background-image: url('../images/usa-check-white.svg'), linear-gradient(transparent, transparent);
//     background-repeat: no-repeat;
//   }

//   &:checked+[class*=__label]::before {
//     background-color: $primary;
//     box-shadow: 0 0 0 2px $primary;
//   }
// }

// // Search
// .usa-search {
//   display: flex;
//   &--big {
//     width: 100%;
//   }

//   button {
//     border-bottom-left-radius: 0;
//     border-top-left-radius: 0;
//     height: 2.5rem;
//   }
// }

// .usa-search__input, .usa-search input {
//   padding-block: 0;
//   margin: 0;
//   border-right: none;

//   @include desktop-up {
//     min-width: 250px;
//   }

// }
