textarea {
  resize: none;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="search"],
input[type="datetime-local"],
select {
  display: block;

  // border: 1px solid $base-dark !important;
  border-radius: 0;
  // color: $base-darkest;
  height: 2.5rem !important;
  margin-top: 0.5rem;
  padding: 0.5rem !important;
  width: 100%;
  box-sizing: border-box;

  overflow: visible;

  // &::placeholder {
  //   color: $gray-50;
  // }
}
.contact__form {
  .web-input {
    height: 2.75rem !important;
  }
  .web-input,
  .web-textarea {
    border-radius: 8px;
  }
}
textarea {
  padding: 0.5rem !important;
}

select {
  appearance: none;
  background: url("../images/chevron-down.svg") no-repeat right;
  background-position: calc(100% - 0.5rem);

  cursor: pointer;

  height: 40px;
  width: 100%;
  background-color: $white;
  border-radius: 6px;
  min-width: 62px;
  @include font-size(0.875rem); //14px
  padding: 0 12px;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; //If you don't want to see the increment / decrement button
  margin: 0;
}

input.form-control {
  outline: none;
}

.inputfile {
  @include square(0.1px, $radius: 0);
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.hide-input {
  @include hide-input();
}
