/*---

These are the styles for the typography. Typography styles can be applied
to any element. Typically you'll want to use either
a `<p>`, `<span>`, or heading element:

​```html
<h1 class="heading-1">This is a title text</h1>
<span class="text-scale-lg">This is a text</span>
<p class="small">Some Text</p>
​```

Index
- Font size
- Font weight
- Text color
- Text align
- Text decoration
- Text transform
- Text overflow
- List style
- White space

*/

/*-------------------------------------------*\
Font size
\*-------------------------------------------*/

:root {
  font-size: 100%; //16px
}

*,
h1,
h2,
h3,
p,
div,
a,
span,
label,
li,
footer {
  font-family: "Figtree", sans-serif;
  font-size: 1rem;
  line-height: 150%;
  color: $base;
}

a {
  color: inherit;
}

.text-scale-2xl {
  @include font-size(2.625rem, 4rem); //42px, 64px
  @include line-height(52px, 64px);
}

.text-64 {
  font-size: 64px;
}

.text-scale-xl {
  @include font-size(32px, 64px); //32px, 64px
  @include line-height(42px, 64px);
}

.text-scale-lg {
  @include font-size(2rem, 3rem); //32px, 48px
  @include line-height(42px, 64px);
}

.text-scale-md {
  @include font-size(1.5rem, 2rem); //24px, 32px
  @include line-height(40px);
}

.text-scale-2md {
  @include font-size(1.25rem, 1.5rem); //20px, 24px
  @include line-height(20px);
}

.text-scale-sm {
  @include font-size(1rem, 1.5rem); //16px, 24px
  @include line-height(24px, 32px);
}

.text-scale-xs {
  @include font-size(0.875rem, 1rem); //14px, 16px
}

// .text-scale-2xs {
//   @include font-size(0.875rem, 0.875rem); //14px, 14px
// }

// .text-scale-3xs {
//   @include font-size(0.8125rem, 0.8125rem); //13px, 13px
// }

.text-size-32 {
  @include font-size(2rem); //32px
  line-height: normal;
}

.text-size-24 {
  @include font-size(1.5rem); //24px
  @include line-height(24px, 48px);
}

.text-size-14 {
  @include font-size(0.875rem); //14px
  @include line-height(22px);
}

.small {
  @include font-size(0.75rem, 0.75rem); //12px
  line-height: normal;
}

.label {
  @include font-size(0.625rem, 1rem); //10px, 16px
  line-height: normal;
}

.extra-small {
  @include font-size(0.625rem, 0.625rem !important); //10px
  line-height: normal;
}
.text-list {
  @include font-size(1rem, 1.5rem); //16px, 24px
  @include line-height(20px);
}
/*-------------------------------------------*\
Font Weight
\*-------------------------------------------*/

.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.extra-bold {
  font-weight: 800;
}

/*-------------------------------------------*\
Text Align
\*-------------------------------------------*/

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

.text-md-left {
  @include desktop-up {
    text-align: left;
  }
}

.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}

/*-------------------------------------------*\
Text color
\*-------------------------------------------*/
.text-white {
  color: $white;
}

.text-primary {
  color: $primary !important;
}

.text-base {
  color: $base;
}
.text-base-darker {
  color: $base-darker;
}
.text-base-darkest {
  color: $base-darkest;
}
.text-error {
  color: $error;
}
/*-------------------------------------------*\
Text Decoration
\*-------------------------------------------*/

.underline {
  text-decoration: underline;
}
.overline {
  text-decoration: overline;
}
.line-through {
  text-decoration: line-through;
}
.none {
  text-decoration: none;
}

/*-------------------------------------------*\
Text Transform
\*-------------------------------------------*/

.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
.normal-case {
  text-transform: none;
}
/*-------------------------------------------*\
Text overflow
\*-------------------------------------------*/

.text-truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

/*-------------------------------------------*\
List Style
\*-------------------------------------------*/

.list-disc {
  list-style-type: disc;
}
.list-decimal {
  list-style-type: decimal;
}
.list-none {
  list-style-type: none;
}

.list-outside {
  list-style-position: outside;
}
.list-inside {
  list-style-position: inside;
}

/*-------------------------------------------*\
White-space
\*-------------------------------------------*/

.white-space-nowrap {
  white-space: nowrap;
}
.white-space-break-spaces {
  white-space: break-spaces;
}

/*-------------------------------------------*\
Others
\*-------------------------------------------*/
.italic {
  font-style: italic;
}
.text-base-10 {
  color: $base-10;
}
