.input__layout {
  display: grid;
  row-gap: 12px;
  // &--error {
  // 	input {
  // 		outline: 1px solid $primary-500;
  // 		&:focus {
  // 			outline: 1px solid $primary-500;
  // 		}
  // 	}
  // }
}
.input__layout_modal {
  display: grid;
  row-gap: 2px;
}
