@charset "UTF-8";
/*---

These are the styles for the variables. Variables can be applied
to any element, components, or pages. Refers to figma.

Index
- Base
- Primary
- Secondary
*/
/*-------------------------------------------*\
Base
\*-------------------------------------------*/
/*-------------------------------------------*\
Primary
\*-------------------------------------------*/
/*-------------------------------------------*\
Secondary
\*-------------------------------------------*/
/*-------------------------------------------*\
Disabled
\*-------------------------------------------*/
/*-------------------------------------------*\
Others
\*-------------------------------------------*/
/*---

These are the styles for the typography. Typography styles can be applied
to any element. Typically you'll want to use either
a `<p>`, `<span>`, or heading element:

​```html
<h1 class="heading-1">This is a title text</h1>
<span class="text-scale-lg">This is a text</span>
<p class="small">Some Text</p>
​```

Index
- Responsive Mixins
- Sizes
- Layouts
- Inputs

*/
/*-------------------------------------------*\
Responsive mixins
\*-------------------------------------------*/
/*-------------------------------------------*\
Sizes
\*-------------------------------------------*/
/*-------------------------------------------*\
Layouts
\*-------------------------------------------*/
/*-------------------------------------------*\
Inputs
\*-------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

footer {
  margin-top: auto;
}

@media (min-width: 1024px) {
  .mobile-only {
    display: none !important;
  }
}

.desktop-only {
  display: none !important;
}
@media (min-width: 1024px) {
  .desktop-only {
    display: block !important;
  }
}

a {
  text-decoration: none;
}
a.web-link:hover {
  color: unset;
}

.content-container {
  display: grid;
  grid-template-columns: 230px 1fr;
}

.usa-link {
  color: #ff6d2c;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

.bg-primary {
  background-color: #ff6d2c;
}

.bg-primary {
  background-color: #0b2353;
}

/*---

These are the styles for the typography. Typography styles can be applied
to any element. Typically you'll want to use either
a `<p>`, `<span>`, or heading element:

​```html
<h1 class="heading-1">This is a title text</h1>
<span class="text-scale-lg">This is a text</span>
<p class="small">Some Text</p>
​```

Index
- Font size
- Font weight
- Text color
- Text align
- Text decoration
- Text transform
- Text overflow
- List style
- White space

*/
/*-------------------------------------------*\
Font size
\*-------------------------------------------*/
:root {
  font-size: 100%;
}

*,
h1,
h2,
h3,
p,
div,
a,
span,
label,
li,
footer {
  font-family: "Figtree", sans-serif;
  font-size: 1rem;
  line-height: 150%;
}

a {
  color: inherit;
}

.small,
.label,
.text-scale-2xs {
  font-family: "Source Sans 3", sans-serif;
  line-height: 120%;
}

.text-scale-2xl {
  font-size: 2.625rem;
  line-height: 52px;
}
@media (min-width: 1024px) {
  .text-scale-2xl {
    font-size: 4rem;
  }
}
@media (min-width: 1024px) {
  .text-scale-2xl {
    line-height: 64px;
  }
}

.text-scale-xl {
  font-size: 2rem;
  line-height: 42px;
}
@media (min-width: 1024px) {
  .text-scale-xl {
    font-size: 4rem;
  }
}
@media (min-width: 1024px) {
  .text-scale-xl {
    line-height: 64px;
  }
}

.text-scale-lg {
  font-size: 1.5rem;
  line-height: 20px;
}
@media (min-width: 1024px) {
  .text-scale-lg {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .text-scale-lg {
    line-height: 20px;
  }
}

.text-scale-sm {
  font-size: 1rem;
}
@media (min-width: 1024px) {
  .text-scale-sm {
    font-size: 1.5rem;
  }
}

.text-scale-xs {
  font-size: 0.9375rem;
}
@media (min-width: 1024px) {
  .text-scale-xs {
    font-size: 0.9375rem;
  }
}

.text-scale-2xs {
  font-size: 0.875rem;
}
@media (min-width: 1024px) {
  .text-scale-2xs {
    font-size: 0.875rem;
  }
}

.text-scale-3xs {
  font-size: 0.8125rem;
}
@media (min-width: 1024px) {
  .text-scale-3xs {
    font-size: 0.8125rem;
  }
}

.text-size-32 {
  font-size: 2rem;
  line-height: normal;
}
@media (min-width: 1024px) {
  .text-size-32 {
    font-size: 2rem;
  }
}

.text-size-24 {
  font-size: 1.5rem;
  line-height: normal;
}
@media (min-width: 1024px) {
  .text-size-24 {
    font-size: 1.5rem;
  }
}

.small {
  font-size: 0.75rem;
  line-height: normal;
}
@media (min-width: 1024px) {
  .small {
    font-size: 0.75rem;
  }
}

.label {
  font-size: 0.625rem;
  line-height: normal;
}
@media (min-width: 1024px) {
  .label {
    font-size: 1rem;
  }
}

.extra-small {
  font-size: 0.625rem;
  line-height: normal;
}
@media (min-width: 1024px) {
  .extra-small {
    font-size: 0.625rem !important;
  }
}

/*-------------------------------------------*\
Font Weight
\*-------------------------------------------*/
.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

/*-------------------------------------------*\
Text Align
\*-------------------------------------------*/
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/*-------------------------------------------*\
Text color
\*-------------------------------------------*/
.text-white {
  color: #fff;
}

.text-primary {
  color: #ff6d2c !important;
}

.text-base {
  color: #2a2a2a;
}

/*-------------------------------------------*\
Text Decoration
\*-------------------------------------------*/
.underline {
  text-decoration: underline;
}

.overline {
  text-decoration: overline;
}

.line-through {
  text-decoration: line-through;
}

.none {
  text-decoration: none;
}

/*-------------------------------------------*\
Text Transform
\*-------------------------------------------*/
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.normal-case {
  text-transform: none;
}

/*-------------------------------------------*\
Text overflow
\*-------------------------------------------*/
.text-truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

/*-------------------------------------------*\
List Style
\*-------------------------------------------*/
.list-disc {
  list-style-type: disc;
}

.list-decimal {
  list-style-type: decimal;
}

.list-none {
  list-style-type: none;
}

.list-outside {
  list-style-position: outside;
}

.list-inside {
  list-style-position: inside;
}

/*-------------------------------------------*\
White-space
\*-------------------------------------------*/
.white-space-nowrap {
  white-space: nowrap;
}

.white-space-break-spaces {
  white-space: break-spaces;
}

/*-------------------------------------------*\
Others
\*-------------------------------------------*/
.italic {
  font-style: italic;
}

.usa-label {
  display: block;
  line-height: 1.3;
}

textarea {
  resize: none;
}

input[type=text],
input[type=password],
input[type=date],
input[type=email],
input[type=number],
input[type=tel],
input[type=search],
input[type=datetime-local],
select {
  display: block;
  border-radius: 0;
  height: 2.5rem !important;
  margin-top: 0.5rem;
  padding: 0.5rem !important;
  width: 100%;
  box-sizing: border-box;
  overflow: visible;
}

.contact__form .web-input {
  height: 2.75rem !important;
}
.contact__form .web-input,
.contact__form .web-textarea {
  border-radius: 8px;
}

textarea {
  padding: 0.5rem !important;
}

select {
  appearance: none;
  background: url("../images/chevron-down.svg") no-repeat right;
  background-position: calc(100% - 0.5rem);
  cursor: pointer;
  height: 40px;
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  min-width: 62px;
  font-size: 0.875rem;
  padding: 0 12px;
}
@media (min-width: 1024px) {
  select {
    font-size: 0.875rem;
  }
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-with-helper {
  position: relative;
}
.input-with-helper__left input {
  padding: 10px 12px 10px 44px;
}
.input-with-helper__right input {
  padding: 10px 44px 10px 12px;
}
.input-with-helper .helper__left,
.input-with-helper .helper__right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}
.input-with-helper .helper__left {
  left: 12px;
}
.input-with-helper .helper__right {
  right: 12px;
  display: flex;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
}
.input-with-helper .helper__right * {
  font-size: 1rem;
}

input.form-control {
  outline: none;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.hide-input {
  position: absolute;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
}

.w-max-content {
  width: max-content;
}

.w-min-content {
  width: min-content;
}

.h-max-content {
  height: max-content;
}

.w-100 {
  width: 100% !important;
}

.w-98 {
  width: 98%;
}

.h-100 {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.content-min-100vh {
  min-height: calc(100vh - 80px);
}

.h-200px {
  height: 200px;
}

@media (min-width: 1024px) {
  .w-60 {
    width: 75%;
  }
}
@media (min-width: 1440px) {
  .w-60 {
    width: 60%;
  }
}

.w-75-xl {
  width: 100%;
}
@media (min-width: 1440px) {
  .w-75-xl {
    width: 75%;
  }
}

.w-50 {
  width: 50%;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

@media (min-width: 1024px) {
  .d-lg-block {
    display: block;
  }
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-content-around {
  align-content: space-around;
}

.align-content-stretch {
  align-content: stretch;
}

.align-content-between {
  align-content: space-between;
}

.overflow-unset {
  overflow: unset;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

@media (min-width: 1024px) {
  .section__wrapper {
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }
}

.section__padding {
  padding: 1.5rem 5%;
}
@media (min-width: 1024px) {
  .section__padding {
    padding: 2.5rem 5%;
  }
}

.web__padding {
  padding: 3.5rem 5%;
}
@media (min-width: 1024px) {
  .web__padding {
    padding: 3.5rem 5%;
  }
}
@media (min-width: 1440px) {
  .web__padding {
    padding: 4rem 12.5rem;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.opacity-0 {
  opacity: 0;
}

.box-sizing-border-box {
  box-sizing: border-box;
}

hr {
  margin: 0;
  opacity: 1;
}

.img-100-contain {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.img-48-contain {
  width: 48px;
  height: 48px;
  object-fit: contain;
  border-radius: 2.5px;
}

.vertical-align-middle {
  vertical-align: middle;
}

.z-index-1 {
  z-index: 1;
}

.m-auto {
  margin: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-1 {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.mx-2 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.mx-3 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mx-4 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.mx-5 {
  margin-right: 3rem;
  margin-left: 3rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.m-4 {
  margin: 1.5rem;
}

.m-5 {
  margin: 3rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 1rem;
}

.ml-4 {
  margin-left: 1.5rem;
}

.ml-5 {
  margin-left: 3rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-4 {
  margin-right: 1.5rem;
}

.mr-5 {
  margin-right: 3rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 1rem;
}

.p-4 {
  padding: 1.5rem;
}

.p-5 {
  padding: 3rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pl-4 {
  padding-left: 1.5rem;
}

.pl-5 {
  padding-left: 3rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pr-4 {
  padding-right: 1.5rem;
}

.pr-5 {
  padding-right: 3rem;
}

/*
Your standard form button. Typically you'll want to use either
a `<div>`, `<button>` or `<a>`, element:

​```html
<button type="button" class="usa-button">Button</button>
```

:hover    - Highlights when hovering.
:disabled - Dims the button when disabled.
--primary  - Indicates button is the primary action.
--outline  - Indicates button is the secondary action.
--icon-only - The button has only 1 icon
--big  - A bigger button

Index
- Button

*/
/*-------------------------------------------*\
Button
\*-------------------------------------------*/
button {
  border: none;
  background-color: transparent;
}

.button {
  background-color: #ff6d2c;
  border: 0;
  border-radius: 0.25rem;
  min-width: 7.375rem;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}
.button--big {
  border-radius: 0.25rem;
  font-size: 1.46rem;
  padding: 1rem 1.5rem;
}

.usa-icon {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.button--outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #ff6d2c;
  padding-inline: 1.25rem;
  font-weight: 500;
  color: #ff6d2c;
}
.button--outline:visited {
  color: #ff6d2c;
}

.button--secondary {
  background-color: #0b2353;
}

.button--white {
  background-color: #fff;
  color: #ff6d2c;
}
.button--white:hover img {
  filter: brightness(0) invert(1);
}

.button--unstyled {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  color: #ff6d2c;
  text-decoration: underline;
  font-weight: 400;
  justify-content: normal;
}
.button--unstyled:hover, .button--unstyled.button--hover, .button--unstyled:disabled:hover, .button--unstyled[aria-disabled=true]:hover, .button--unstyled:disabled.button--hover, .button--unstyled[aria-disabled=true].button--hover, .button--unstyled:active, .button--unstyled.button--active, .button--unstyled:disabled:active, .button--unstyled[aria-disabled=true]:active, .button--unstyled:disabled.button--active, .button--unstyled[aria-disabled=true].button--active, .button--unstyled:disabled:focus, .button--unstyled[aria-disabled=true]:focus, .button--unstyled:disabled.focus, .button--unstyled[aria-disabled=true].focus, .button--unstyled:disabled, .button--unstyled[aria-disabled=true], .button--unstyled.button--disabled {
  background-color: transparent;
  box-shadow: none;
  text-decoration: underline;
}

.rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

@media (min-width: 1024px) {
  .cols-md-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.cols-2fr-1fr {
  grid-template-columns: 2fr 1fr;
}

.cols-detail {
  grid-template-columns: 2fr 0.75fr;
}

@media (min-width: 1024px) {
  .cols-md-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 1024px) {
  .cols-md-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.rg-4px {
  row-gap: 4px;
}

.rg-8px {
  row-gap: 8px;
}

.rg-12px {
  row-gap: 0.75rem;
}

.rg-16px {
  row-gap: 1rem;
}

.rg-24px {
  row-gap: 1.5rem;
}

.rg-32px {
  row-gap: 2rem;
}

.rg-48px {
  row-gap: 3rem;
}

.cg-4px {
  column-gap: 0.25rem;
}

.cg-8px {
  column-gap: 0.5rem;
}

.cg-16px {
  column-gap: 1rem;
}

.cg-24px {
  column-gap: 1.5rem;
}

.cg-32px {
  column-gap: 2rem;
}

.cg-40px {
  column-gap: 2.5rem;
}

.input__layout {
  display: grid;
  row-gap: 8px;
}

.page-header {
  display: flex;
}

.main-container {
  background-color: #fff;
}

.list-filter-section .form {
  display: flex;
  justify-content: inherit;
}

.left-filter-section {
  display: flex;
  gap: 8px;
  align-content: last baseline;
  align-items: center;
}

.statistic-row .card {
  border: 1px solid #E5EFFF;
  display: grid;
  justify-content: flex-start;
  grid-template-columns: 1fr 8fr;
}
.statistic-row .card .left-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
