@charset "UTF-8";
/*---

These are the styles for the variables. Variables can be applied
to any element, components, or pages. Refers to figma.

Index
- Base
- Primary
- Secondary
*/
/*-------------------------------------------*\
Base
\*-------------------------------------------*/
/*-------------------------------------------*\
Primary
\*-------------------------------------------*/
/*-------------------------------------------*\
Secondary
\*-------------------------------------------*/
/*-------------------------------------------*\
Disabled
\*-------------------------------------------*/
/*-------------------------------------------*\
Others
\*-------------------------------------------*/
/*---

These are the styles for the typography. Typography styles can be applied
to any element. Typically you'll want to use either
a `<p>`, `<span>`, or heading element:

​```html
<h1 class="heading-1">This is a title text</h1>
<span class="text-scale-lg">This is a text</span>
<p class="small">Some Text</p>
​```

Index
- Responsive Mixins
- Sizes
- Layouts
- Inputs

*/
/*-------------------------------------------*\
Responsive mixins
\*-------------------------------------------*/
/*-------------------------------------------*\
Sizes
\*-------------------------------------------*/
/*-------------------------------------------*\
Layouts
\*-------------------------------------------*/
/*-------------------------------------------*\
Inputs
\*-------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: #fafafa;
}

f footer {
  margin-top: auto;
}

@media (min-width: 1024px) {
  .mobile-only {
    display: none;
  }
}

.desktop-only {
  display: none;
}
@media (min-width: 1024px) {
  .desktop-only {
    display: block;
  }
}

a {
  text-decoration: none;
}

.content-container {
  display: grid;
  grid-template-columns: 230px 1fr;
}

.bg-primary {
  background-color: #ff6d2c;
}

@media (min-width: 1024px) {
  .bg-md-primary {
    background-color: #ff6d2c;
  }
}

.bg-secondary {
  background-color: #0b2353;
}

.linear-blue {
  background: linear-gradient(270deg, rgba(11, 35, 83, 0) 33.62%, #0b2353 137.84%);
}

.linear-black {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

/*---

These are the styles for the typography. Typography styles can be applied
to any element. Typically you'll want to use either
a `<p>`, `<span>`, or heading element:

​```html
<h1 class="heading-1">This is a title text</h1>
<span class="text-scale-lg">This is a text</span>
<p class="small">Some Text</p>
​```

Index
- Font size
- Font weight
- Text color
- Text align
- Text decoration
- Text transform
- Text overflow
- List style
- White space

*/
/*-------------------------------------------*\
Font size
\*-------------------------------------------*/
:root {
  font-size: 100%;
}

*,
h1,
h2,
h3,
p,
div,
a,
span,
label,
li,
footer {
  font-family: "Figtree", sans-serif;
  font-size: 1rem;
  line-height: 150%;
  color: #2a2a2a;
}

a {
  color: inherit;
}

.small,
.label,
.text-scale-2xs {
  font-family: "Source Sans 3", sans-serif;
  line-height: 120%;
}

.text-scale-2xl {
  font-size: 2.625rem;
  line-height: 52px;
}
@media (min-width: 1024px) {
  .text-scale-2xl {
    font-size: 4rem;
  }
}
@media (min-width: 1024px) {
  .text-scale-2xl {
    line-height: 64px;
  }
}

.text-scale-xl {
  font-size: 2rem;
  line-height: 42px;
}
@media (min-width: 1024px) {
  .text-scale-xl {
    font-size: 4rem;
  }
}
@media (min-width: 1024px) {
  .text-scale-xl {
    line-height: 64px;
  }
}

.text-scale-lg {
  font-size: 2rem;
  line-height: 42px;
}
@media (min-width: 1024px) {
  .text-scale-lg {
    font-size: 3rem;
  }
}
@media (min-width: 1024px) {
  .text-scale-lg {
    line-height: 64px;
  }
}

.text-scale-md {
  font-size: 1.5rem;
  line-height: 40px;
}
@media (min-width: 1024px) {
  .text-scale-md {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .text-scale-md {
    line-height: 40px;
  }
}

.text-scale-2md {
  font-size: 1.25rem;
  line-height: 20px;
}
@media (min-width: 1024px) {
  .text-scale-2md {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .text-scale-2md {
    line-height: 20px;
  }
}

.text-scale-sm {
  font-size: 1rem;
  line-height: 24px;
}
@media (min-width: 1024px) {
  .text-scale-sm {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .text-scale-sm {
    line-height: 32px;
  }
}

.text-scale-xs {
  font-size: 0.875rem;
}
@media (min-width: 1024px) {
  .text-scale-xs {
    font-size: 1rem;
  }
}

.text-scale-2xs {
  font-size: 0.875rem;
}
@media (min-width: 1024px) {
  .text-scale-2xs {
    font-size: 0.875rem;
  }
}

.text-scale-3xs {
  font-size: 0.8125rem;
}
@media (min-width: 1024px) {
  .text-scale-3xs {
    font-size: 0.8125rem;
  }
}

.text-size-32 {
  font-size: 2rem;
  line-height: normal;
}
@media (min-width: 1024px) {
  .text-size-32 {
    font-size: 2rem;
  }
}

.text-size-24 {
  font-size: 1.5rem;
  line-height: normal;
}
@media (min-width: 1024px) {
  .text-size-24 {
    font-size: 1.5rem;
  }
}

.small {
  font-size: 0.75rem;
  line-height: normal;
}
@media (min-width: 1024px) {
  .small {
    font-size: 0.75rem;
  }
}

.label {
  font-size: 0.625rem;
  line-height: normal;
}
@media (min-width: 1024px) {
  .label {
    font-size: 1rem;
  }
}

.extra-small {
  font-size: 0.625rem;
  line-height: normal;
}
@media (min-width: 1024px) {
  .extra-small {
    font-size: 0.625rem !important;
  }
}

.text-list {
  font-size: 1rem;
  line-height: 20px;
}
@media (min-width: 1024px) {
  .text-list {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .text-list {
    line-height: 20px;
  }
}

/*-------------------------------------------*\
Font Weight
\*-------------------------------------------*/
.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

/*-------------------------------------------*\
Text Align
\*-------------------------------------------*/
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

@media (min-width: 1024px) {
  .text-md-left {
    text-align: left;
  }
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/*-------------------------------------------*\
Text color
\*-------------------------------------------*/
.text-white {
  color: #fff;
}

.text-primary {
  color: #ff6d2c !important;
}

.text-base {
  color: #2a2a2a;
}

.text-base-darker {
  color: #292929;
}

.text-base-darkest {
  color: #222222;
}

/*-------------------------------------------*\
Text Decoration
\*-------------------------------------------*/
.underline {
  text-decoration: underline;
}

.overline {
  text-decoration: overline;
}

.line-through {
  text-decoration: line-through;
}

.none {
  text-decoration: none;
}

/*-------------------------------------------*\
Text Transform
\*-------------------------------------------*/
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.normal-case {
  text-transform: none;
}

/*-------------------------------------------*\
Text overflow
\*-------------------------------------------*/
.text-truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

/*-------------------------------------------*\
List Style
\*-------------------------------------------*/
.list-disc {
  list-style-type: disc;
}

.list-decimal {
  list-style-type: decimal;
}

.list-none {
  list-style-type: none;
}

.list-outside {
  list-style-position: outside;
}

.list-inside {
  list-style-position: inside;
}

/*-------------------------------------------*\
White-space
\*-------------------------------------------*/
.white-space-nowrap {
  white-space: nowrap;
}

.white-space-break-spaces {
  white-space: break-spaces;
}

/*-------------------------------------------*\
Others
\*-------------------------------------------*/
.italic {
  font-style: italic;
}

textarea {
  resize: none;
}

input[type=text],
input[type=password],
input[type=date],
input[type=email],
input[type=number],
input[type=tel],
input[type=search],
input[type=datetime-local],
select {
  display: block;
  border-radius: 0;
  height: 2.5rem !important;
  margin-top: 0.5rem;
  padding: 0.5rem !important;
  width: 100%;
  box-sizing: border-box;
  overflow: visible;
}

.contact__form .web-input {
  height: 2.75rem !important;
}
.contact__form .web-input,
.contact__form .web-textarea {
  border-radius: 8px;
}

textarea {
  padding: 0.5rem !important;
}

select {
  appearance: none;
  background: url("../images/chevron-down.svg") no-repeat right;
  background-position: calc(100% - 0.5rem);
  cursor: pointer;
  height: 40px;
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  min-width: 62px;
  font-size: 0.875rem;
  padding: 0 12px;
}
@media (min-width: 1024px) {
  select {
    font-size: 0.875rem;
  }
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.form-control {
  outline: none;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.hide-input {
  position: absolute;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
}

.w-max-content {
  width: max-content;
}

.w-min-content {
  width: min-content;
}

.h-max-content {
  height: max-content;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.content-min-100vh {
  min-height: calc(100vh - 80px);
}

.h-200px {
  height: 200px;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .w-60 {
    width: 75%;
  }
}
@media (min-width: 1440px) {
  .w-60 {
    width: 60%;
  }
}

.w-75-xl {
  width: 100%;
}
@media (min-width: 1440px) {
  .w-75-xl {
    width: 75%;
  }
}

.w-50 {
  width: 50%;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

@media (min-width: 1024px) {
  .d-md-flex {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .d-md-block {
    display: block;
  }
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-content-around {
  align-content: space-around;
}

.align-content-stretch {
  align-content: stretch;
}

.align-content-between {
  align-content: space-between;
}

.overflow-unset {
  overflow: unset;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

@media (min-width: 1024px) {
  .section__wrapper {
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }
}

.section__padding {
  padding: 2.625rem 5%;
}
@media (min-width: 1024px) {
  .section__padding {
    padding: 5rem 5%;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.opacity-0 {
  opacity: 0;
}

.box-sizing-border-box {
  box-sizing: border-box;
}

hr {
  margin: 0;
  opacity: 1;
}

.vertical-align-middle {
  vertical-align: middle;
}

.z-index-1 {
  z-index: 1;
}

@media (min-width: 1024px) {
  .border-radius-md-16px {
    border-radius: 16px;
  }
}

.m-auto {
  margin: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-1 {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.mx-2 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.mx-3 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mx-4 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.mx-5 {
  margin-right: 3rem;
  margin-left: 3rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.m-4 {
  margin: 1.5rem;
}

.m-5 {
  margin: 3rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 1rem;
}

.ml-4 {
  margin-left: 1.5rem;
}

.ml-5 {
  margin-left: 3rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-4 {
  margin-right: 1.5rem;
}

.mr-5 {
  margin-right: 3rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 1rem;
}

.p-4 {
  padding: 1.5rem;
}

.p-5 {
  padding: 3rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pl-4 {
  padding-left: 1.5rem;
}

.pl-5 {
  padding-left: 3rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pr-4 {
  padding-right: 1.5rem;
}

.pr-5 {
  padding-right: 3rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5%;
}
@media (min-width: 1024px) {
  .nav {
    padding: 3.25rem 5% 0;
  }
}

@media (min-width: 1024px) {
  .menu__mobile {
    display: none;
  }
}

.nav-link__desktop {
  display: none;
}
@media (min-width: 1024px) {
  .nav-link__desktop {
    display: flex;
    column-gap: 1.5rem;
  }
}

footer * {
  color: white;
}
footer .footnote {
  border-top: 1px solid #fff;
  padding: 2rem 5%;
}

/*
Your standard form button. Typically you'll want to use either
a `<div>`, `<button>` or `<a>`, element:

​```html
<button type="button" class="usa-button">Button</button>
```

:hover    - Highlights when hovering.
:disabled - Dims the button when disabled.
--primary  - Indicates button is the primary action.
--outline  - Indicates button is the secondary action.
--icon-only - The button has only 1 icon
--big  - A bigger button

Index
- Button

*/
/*-------------------------------------------*\
Button
\*-------------------------------------------*/
button {
  border: none;
  background-color: transparent;
}

.button {
  background-color: #ff6d2c;
  border: 0;
  border-radius: 8px;
  min-width: 7.375rem;
  padding: 1rem 2rem;
  width: max-content;
  font-size: 1rem;
  line-height: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  box-sizing: border-box;
  text-align: center;
}
@media (min-width: 1024px) {
  .button--big {
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
  }
}

.button--outline {
  background-color: transparent;
  padding-inline: 1.25rem;
  font-weight: 500;
  color: #ff6d2c;
  border: 1px solid #ff6d2c;
  text-align: center;
}
.button--outline:visited {
  color: #ff6d2c;
}

.button--secondary {
  background-color: #0b2353;
}

.button--white {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.accordion__body {
  position: relative;
  display: grid;
  row-gap: 12px;
  padding-left: 1.5rem;
}
.accordion__title {
  color: #fff;
}
.accordion__img {
  border-radius: 16px;
  overflow: hidden;
  height: 200px;
  margin-top: 1rem;
}
.accordion__item {
  cursor: pointer;
}
.accordion__item .accordion__img {
  display: none;
}
.accordion__item.active .accordion__body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ff6d2c;
  height: 100%;
  width: 6px;
}
.accordion__item.active .accordion__title {
  color: #ff6d2c;
}
.accordion__item.active .accordion__img {
  display: block;
}
@media (min-width: 1024px) {
  .accordion__item .accordion__img {
    display: none !important;
  }
}

.how-it-works__section {
  display: grid;
  row-gap: 2.625rem;
}
@media (min-width: 1024px) {
  .how-it-works__section {
    row-gap: 5rem;
  }
}
.how-it-works__img-desktop {
  position: relative;
}
.how-it-works__img-desktop .accordion__img {
  display: none;
  position: absolute;
  inset: 0;
  object-fit: cover;
  border-radius: 16px;
  height: 100%;
  width: 100%;
}
.how-it-works__img-desktop .accordion__img.active {
  display: block;
}

.check__list {
  display: grid;
  row-gap: 1.5rem;
}
.check__list li {
  position: relative;
  padding-left: 2.25rem;
}
.check__list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/check-orange-line.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}

.cols-2fr-1fr {
  grid-template-columns: 2fr 1fr;
}

.cols-detail {
  grid-template-columns: 2fr 0.75fr;
}

.cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 1024px) {
  .cols-md-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .cols-md-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .cols-md-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.rg-4px {
  row-gap: 4px;
}

.rg-8px {
  row-gap: 8px;
}

.rg-12px {
  row-gap: 0.75rem;
}

.rg-16px {
  row-gap: 1rem;
}

@media (min-width: 1024px) {
  .rg-md-16 {
    row-gap: 1rem;
  }
}

.rg-24px {
  row-gap: 1.5rem;
}

.rg-32px {
  row-gap: 2rem;
}

.rg-42px {
  row-gap: 2.625rem;
}

@media (min-width: 1024px) {
  .rg-md-24px {
    row-gap: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .rg-md-32px {
    row-gap: 2rem;
  }
}

@media (min-width: 1440px) {
  .rg-lg-32px {
    row-gap: 2rem;
  }
}

.rg-48px {
  row-gap: 3rem;
}

.cg-4px {
  column-gap: 0.25rem;
}

.cg-8px {
  column-gap: 0.5rem;
}

.cg-12px {
  column-gap: 0.75rem;
}

.cg-16px {
  column-gap: 1rem;
}

.cg-24px {
  column-gap: 1.5rem;
}

.cg-32px {
  column-gap: 2rem;
}

.cg-48px {
  column-gap: 3rem;
}

@media (min-width: 1024px) {
  .cg-md-16px {
    column-gap: 1rem;
  }
}

@media (min-width: 1024px) {
  .cg-md-32px {
    column-gap: 2rem;
  }
}

@media (min-width: 1440px) {
  .cg-lg-32px {
    column-gap: 2rem;
  }
}

.input__layout {
  display: grid;
  row-gap: 8px;
}

.hero__section {
  background: linear-gradient(270deg, rgba(11, 35, 83, 0) 33.62%, #0b2353 137.84%);
}
@media (min-width: 1024px) {
  .hero__section {
    position: relative;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #0b2353 100%);
  }
}
@media (min-width: 1024px) {
  .hero__header {
    width: 90%;
    margin: 0;
  }
}
.hero__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .hero__bottom {
    background: rgba(11, 35, 83, 0.6);
  }
}
.hero__text {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  padding: 2.625rem 5%;
}
.hero__buttons {
  display: grid;
  row-gap: 1rem;
}
@media (max-width: 768px) {
  .hero__buttons {
    width: max-content;
  }
  .hero__buttons .button--white {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .hero__buttons {
    display: flex;
    column-gap: 1rem;
  }
}

.our-services__section {
  display: grid;
  row-gap: 1.5rem;
}
@media (min-width: 1024px) {
  .our-services__section {
    row-gap: 4rem;
  }
}
.our-services__section .card-services {
  position: relative;
  height: 250px;
  padding: 2rem 1.75rem;
  border-radius: 1rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .our-services__section .card-services:nth-of-type(10), .our-services__section .card-services:nth-of-type(11), .our-services__section .card-services:nth-of-type(12) {
    display: none;
  }
}
@media (min-width: 1024px) {
  .our-services__section .card-services {
    height: 330px;
  }
}
@media (min-width: 1440px) {
  .our-services__section .card-services {
    height: 455px;
  }
}
.our-services__section .card-services__body {
  position: relative;
  z-index: 1;
  display: grid;
  row-gap: 8px;
  align-content: end;
  height: 100%;
}
.our-services__section .card-services img {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}
@media (min-width: 1024px) {
  .our-services__header > div:nth-child(2) {
    width: 75%;
    margin-left: auto;
  }
}

.cta-home__section {
  position: relative;
  height: 475px;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .cta-home__section {
    height: 400px;
  }
}
.cta-home__section img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cta-home__body {
  position: relative;
  z-index: 1;
  display: grid;
  row-gap: 2rem;
  height: 100%;
}
@media (max-width: 768px) {
  .cta-home__body {
    align-content: end;
  }
}
@media (min-width: 1024px) {
  .cta-home__body {
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }
}

.why-choose-us__img {
  position: relative;
}
.why-choose-us__img img:nth-of-type(2) {
  position: absolute;
  left: -100px;
  bottom: 100px;
  height: 200px;
  width: 200px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2509803922);
}
@media (min-width: 1440px) {
  .why-choose-us__img img:nth-of-type(2) {
    left: -150px;
    bottom: -40px;
    height: 300px;
    width: 300px;
  }
}

.special-offers__section {
  position: relative;
  height: 385px;
}
@media (max-width: 768px) {
  .special-offers__body {
    justify-items: center;
    align-content: end;
    height: 100%;
  }
}
.special-offers__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials__list {
  padding-left: 1rem;
}
@media (min-width: 1024px) {
  .testimonials__list {
    background-color: #ff6d2c;
    padding: 4rem 0 2.625rem 3rem;
    border-top-left-radius: 2rem;
  }
}
.testimonials__item {
  display: grid;
  row-gap: 1rem;
  box-sizing: border-box;
  height: 100%;
  padding: 1rem;
  border-radius: 16px;
  background-color: #f8f8f6;
}

@media (min-width: 1024px) {
  .coverage__section {
    display: grid;
    row-gap: 3rem;
    padding: 5rem 5%;
  }
}
@media (max-width: 768px) {
  .coverage__header {
    padding: 2rem 5%;
  }
}
.coverage__body {
  display: grid;
  row-gap: 1.5rem;
}
@media (max-width: 768px) {
  .coverage__text {
    padding: 0 5% 5rem;
  }
}

@media (min-width: 1024px) {
  .text-with-curved-border {
    padding-left: 2.625rem;
  }
}

.text-with-curved__wrapper {
  display: grid;
  align-items: center;
}
@media (min-width: 1024px) {
  .text-with-curved__wrapper {
    column-gap: 1.5rem;
    grid-template-columns: 1fr 0.75fr;
  }
}

.splide__arrows {
  display: flex;
  column-gap: 1rem;
  padding: 1.5rem 5% 0 0;
}
@media (min-width: 1024px) {
  .splide__arrows {
    justify-content: right;
  }
}
.splide__arrow {
  position: unset !important;
  transform: unset !important;
  background: transparent !important;
  height: unset !important;
  opacity: 1 !important;
}

/*# sourceMappingURL=main.css.map */
