/*---

These are the styles for the variables. Variables can be applied
to any element, components, or pages. Refers to figma.

Index
- Base
- Primary
- Secondary
*/

/*-------------------------------------------*\
Base
\*-------------------------------------------*/
$base-lightest: #fafafa;
$base-lighter: #cfcfcf;
$base-light: #f8f8f6;
$base: #2a2a2a;
$base-dark: #575757;
$base-darker: #292929;
$base-darkest: #222222;

/*-------------------------------------------*\
Primary
\*-------------------------------------------*/
$primary-light: #ffd6c4;
$primary: #ff6d2c;

/*-------------------------------------------*\
Secondary
\*-------------------------------------------*/

$secondary: #0b2353;

/*-------------------------------------------*\
Disabled
\*-------------------------------------------*/
$disabled-lighter: #c9c9c9;
$disabled-light: #919191;
$disabled: #757575;
$disabled-dark: #454545;
$disabled-darker: #1b1b1b;

/*-------------------------------------------*\
Others
\*-------------------------------------------*/
$white: #fff;
$button-stroke: #fff;
